<div class="container">
  <a {{action "goBack"}} class="btn btn-primary back-button">
    <i class="material-icons">keyboard_arrow_left</i> Tilbake til søk
  </a>

  {{#if isLoading}}
    {{#load-indicator}}
      <p>Henter ansatt</p>
    {{/load-indicator}}
  {{else}}
    <div id="results">
      <h1>{{model.givenName}} {{model.familyName}}</h1>

      <h4>Ansatt ved</h4>
      <ul class="departments">
        {{#each model.positions as |position|}}
          <li>
            {{#link-to "departments.department" position.department}}
              {{position.department.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>

      <h4>Kontakt</h4>
      <div class="phone">
        {{#if model.workPhone}}
          <i class="material-icons">phone</i> <a href="tel:{{model.workPhone}}">{{model.workPhone}}</a>
        {{/if}}

        {{#if model.mobilePhone}}
          <i class="material-icons">phone_iphone</i> <a href="tel:{{model.mobilePhone}}">{{model.mobilePhone}}</a>
        {{/if}}
      </div>

      <div class="email">
        {{#if model.email}}
          <i class="material-icons">email</i> <a href="mailto:{{model.email}}">{{model.email}}</a>
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>

{{outlet}}
