<div class="container">
  <p>Her kan du søke etter ansatte og se en oversikt over alle avdelinger i Telemark fylkeskommune. Søkefeltet ligger øverst på siden.</p>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input id="searchbox" type="text" class="form-control is-fullwidth" placeholder="Navn eller avdeling" {{action "search" on="change"}} value={{q}} />
      </div>
      <div class="col-sm-8 col-md-4">
          <select onchange={{action "searchDepartment" value="target.value"}} class="custom-select is-fullwidth">
          <option value="">Alle avdelinger</option>
          {{#each model.departments as |department|}}
            <option selected={{is-department-selected department departmentId}} value="{{department.id}}">{{department.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-sm-4 col-md-2">
        <button class="btn btn-primary is-fullwidth" {{action "searchButton" q}}>
          Søk <i class="material-icons search-icon">search</i>
        </button>
      </div>
    </div>
  </div>

  {{#if isLoading}}
    {{#load-indicator}}
      <p>Finner ansatte</p>
    {{/load-indicator}}
  {{else}}
    <div id="results">
      {{#if model.people}}
        <h1>Søket ga {{model.people.length}} treff</h1>
      {{/if}}
      <div class="table table-striped">
        <div class="tbody">
          {{#if model.people}}
            <div class="tr thead">
              <div class="th"><strong>Navn</strong></div>
              <div class="th"><strong>Avdeling</strong></div>
              <div class="th"><strong>Telefon</strong></div>
              <div class="th"><strong>E-post</strong></div>
            </div>
          {{/if}}

          {{#each model.people as |person|}}
            <div class="tr">
              <div class="td person">
                {{#link-to "employees.employee" person class="person"}}
                  {{person.givenName}} {{person.familyName}}
                {{/link-to}}&nbsp;
              </div>
              <div class="td department">
                {{#each person.positions as |position|}}
                  {{#link-to "departments.department" position.department.id}}
                    {{position.department.name}}
                  {{/link-to}}
                {{/each}}
              </div>
              <div class="td phone">
                {{#if person.workPhone}}
                  <i class="material-icons">phone</i> <a href="tel:{{person.workPhone}}">{{person.workPhone}}</a>
                {{/if}}
                {{#if person.mobilePhone}}
                  <i class="material-icons">phone_iphone</i> <a href="tel:{{person.mobilePhone}}">{{person.mobilePhone}}</a>
                {{/if}}
              </div>
              <div class="td email">
                {{#if person.email}}
                  <i class="material-icons">email</i> <a href="mailto:{{person.email}}">{{person.email}}</a>
                {{/if}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>

  {{/if}}

  {{outlet}}
</div>
