<div class="container">
  <h1>{{model.name}}</h1>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <input type="text" class="form-control is-fullwidth" placeholder="Finn ansatte i {{model.name}}" {{action "search" on="change"}} value={{q}} />
      </div>
      <div class="col-sm-4 col-md-2">
        <button class="btn btn-primary is-fullwidth" {{action "searchButton" q}}>
          Søk <i class="material-icons search-icon">search</i>
        </button>
      </div>
    </div>
  </div>

  <div id="results">
    <h2>Ansatte ({{model.positions.length}})</h2>
    <div class="table table-striped">
      <div class="tbody">

        <div class="tr thead">
          <div class="th"><strong>Navn</strong></div>
          <div class="th"><strong>Telefon</strong></div>
          <div class="th"><strong>Epost</strong></div>
        </div>

        {{#each model.positions as |position|}}
          <div class="tr">
            <div class="td person">
              {{#link-to "employees.employee" position.person class="position.person"}}
                {{position.person.givenName}} {{position.person.familyName}}
              {{/link-to}}
            </div>
            <div class="td phone">
              {{#if position.person.workPhone}}
                <i class="material-icons">phone</i> <a href="tel:{{position.person.workPhone}}">{{position.person.workPhone}}</a>
              {{/if}}
              {{#if position.person.mobilePhone}}
                <i class="material-icons">phone_iphone</i> <a href="tel:{{position.person.mobilePhone}}">{{position.person.mobilePhone}}</a>
              {{/if}}
            </div>
            <div class="td email">
              {{#if position.person.email}}
                <i class="material-icons">email</i> <a href="mailto:{{position.person.email}}">{{position.person.email}}</a>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{outlet}}
</div>




{{outlet}}
